dynamodb-block-schema/cloudformation/table.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: >
  Mark VIe Pin Ingestion Pipeline
  S3 -> EventBridge -> Step Functions -> Lambda -> DynamoDB
  DynamoDB Stream -> Lambda -> SQS -> Lambda -> AgentCore (task summaries)

Parameters:
  AppPrefix:
    Type: String
    Default: markvie-kb
  Environment:
    Type: String
    Default: poc
    AllowedValues: [poc, dev, staging]
  AgentRuntimeArn:
    Type: String
    Default: 'arn:aws:bedrock-agentcore:us-east-1:138720056246:runtime/markvie_customer_support-0qxtkw8xSN'
  AgentRegion:
    Type: String
    Default: us-east-1

Resources:

  # --- S3 Bucket ---
  UploadBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub '${AppPrefix}-${AWS::AccountId}'
      NotificationConfiguration:
        EventBridgeConfiguration:
          EventBridgeEnabled: true
      Tags:
        - Key: Application
          Value: !Ref AppPrefix

  # --- DynamoDB Table (Pin Data) with Stream ---
  BlockPinsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub '${AppPrefix}-${Environment}'
      BillingMode: PAY_PER_REQUEST
      StreamSpecification:
        StreamViewType: NEW_IMAGE
      AttributeDefinitions:
        - AttributeName: PK
          AttributeType: S
        - AttributeName: SK
          AttributeType: S
        - AttributeName: GSI3PK
          AttributeType: S
        - AttributeName: GSI3SK
          AttributeType: S
      KeySchema:
        - AttributeName: PK
          KeyType: HASH
        - AttributeName: SK
          KeyType: RANGE
      GlobalSecondaryIndexes:
        - IndexName: ConnectionIndex
          KeySchema:
            - AttributeName: GSI3PK
              KeyType: HASH
            - AttributeName: GSI3SK
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true
      Tags:
        - Key: Application
          Value: !Ref AppPrefix

  # --- DynamoDB Table (Upload Tracker) ---
  UploadTrackerTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub '${AppPrefix}-upload-tracker-${Environment}'
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: PK
          AttributeType: S
        - AttributeName: SK
          AttributeType: S
        - AttributeName: UploadStatus
          AttributeType: S
        - AttributeName: UploadTimestamp
          AttributeType: S
      KeySchema:
        - AttributeName: PK
          KeyType: HASH
        - AttributeName: SK
          KeyType: RANGE
      GlobalSecondaryIndexes:
        - IndexName: StatusIndex
          KeySchema:
            - AttributeName: UploadStatus
              KeyType: HASH
            - AttributeName: UploadTimestamp
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
      TimeToLiveSpecification:
        AttributeName: TTL
        Enabled: true
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true
      Tags:
        - Key: Application
          Value: !Ref AppPrefix

  # --- DynamoDB Table (Task Summaries) ---
  TaskSummaryTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub '${AppPrefix}-task-summaries-${Environment}'
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: pk
          AttributeType: S
      KeySchema:
        - AttributeName: pk
          KeyType: HASH
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true
      Tags:
        - Key: Application
          Value: !Ref AppPrefix

  # --- SQS FIFO Queue (summary buffer) ---
  SummaryQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub '${AppPrefix}-summary-queue-${Environment}.fifo'
      FifoQueue: true
      ContentBasedDeduplication: true
      VisibilityTimeout: 300
      MessageRetentionPeriod: 86400
      DeduplicationScope: messageGroup
      FifoThroughputLimit: perMessageGroupId
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt SummaryDLQ.Arn
        maxReceiveCount: 3
      Tags:
        - Key: Application
          Value: !Ref AppPrefix

  SummaryDLQ:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub '${AppPrefix}-summary-dlq-${Environment}.fifo'
      FifoQueue: true
      ContentBasedDeduplication: true
      MessageRetentionPeriod: 1209600
      Tags:
        - Key: Application
          Value: !Ref AppPrefix

  # --- Lambda: CSV Processor ---
  CsvProcessorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${AppPrefix}-processor-${Environment}'
      Runtime: python3.12
      Handler: handler.handler
      Timeout: 900
      MemorySize: 1024
      Environment:
        Variables:
          TABLE_NAME: !Ref BlockPinsTable
          TRACKER_TABLE_NAME: !Ref UploadTrackerTable
          TASK_SUMMARY_TABLE_NAME: !Ref TaskSummaryTable
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        ZipFile: |
          def handler(event, context):
              return {'statusCode': 200}
      Tags:
        - Key: Application
          Value: !Ref AppPrefix

  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AppPrefix}-processor-role-${Environment}'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - 'arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole'
      Policies:
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: ['s3:GetObject', 's3:DeleteObject', 's3:PutObject', 's3:CopyObject']
                Resource: !Sub 'arn:aws:s3:::${AppPrefix}-${AWS::AccountId}/*'
        - PolicyName: DynamoDBAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: ['dynamodb:BatchWriteItem', 'dynamodb:PutItem', 'dynamodb:UpdateItem']
                Resource:
                  - !GetAtt BlockPinsTable.Arn
                  - !Sub '${BlockPinsTable.Arn}/index/*'
                  - !GetAtt UploadTrackerTable.Arn
                  - !Sub '${UploadTrackerTable.Arn}/index/*'
                  - !GetAtt TaskSummaryTable.Arn

  # --- Lambda: Stream Producer (DynamoDB Stream -> SQS) ---
  StreamProducerFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${AppPrefix}-stream-producer-${Environment}'
      Runtime: python3.12
      Handler: handler.handler
      Timeout: 60
      MemorySize: 128
      Environment:
        Variables:
          SUMMARY_QUEUE_URL: !Ref SummaryQueue
      Role: !GetAtt StreamProducerRole.Arn
      Code:
        ZipFile: |
          def handler(event, context):
              return {'statusCode': 200}
      Tags:
        - Key: Application
          Value: !Ref AppPrefix

  StreamProducerRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AppPrefix}-stream-producer-role-${Environment}'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - 'arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole'
      Policies:
        - PolicyName: DynamoDBStream
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: ['dynamodb:GetRecords', 'dynamodb:GetShardIterator', 'dynamodb:DescribeStream', 'dynamodb:ListStreams']
                Resource: !Sub '${BlockPinsTable.Arn}/stream/*'
        - PolicyName: SQSSend
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: ['sqs:SendMessage']
                Resource: !GetAtt SummaryQueue.Arn

  # Event source: DynamoDB Stream -> Stream Producer Lambda
  StreamProducerEventSource:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      EventSourceArn: !GetAtt BlockPinsTable.StreamArn
      FunctionName: !GetAtt StreamProducerFunction.Arn
      StartingPosition: LATEST
      BatchSize: 1000
      MaximumBatchingWindowInSeconds: 30
      Enabled: true

  # --- Lambda: Agent Bridge (SQS -> AgentCore) ---
  AgentBridgeFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${AppPrefix}-agent-bridge-${Environment}'
      Runtime: python3.12
      Handler: handler.handler
      Timeout: 300
      MemorySize: 256
      ReservedConcurrentExecutions: 10
      Environment:
        Variables:
          TABLE_NAME: !Ref BlockPinsTable
          TASK_SUMMARY_TABLE_NAME: !Ref TaskSummaryTable
          AGENT_RUNTIME_ARN: !Ref AgentRuntimeArn
          AGENT_REGION: !Ref AgentRegion
      Role: !GetAtt AgentBridgeRole.Arn
      Code:
        ZipFile: |
          def handler(event, context):
              return {'statusCode': 200}
      Tags:
        - Key: Application
          Value: !Ref AppPrefix

  AgentBridgeRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AppPrefix}-agent-bridge-role-${Environment}'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - 'arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole'
      Policies:
        - PolicyName: SQSConsume
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: ['sqs:ReceiveMessage', 'sqs:DeleteMessage', 'sqs:GetQueueAttributes']
                Resource: !GetAtt SummaryQueue.Arn
        - PolicyName: AgentCoreInvoke
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: ['bedrock-agentcore:InvokeAgentRuntime']
                Resource: !Ref AgentRuntimeArn

  # Event source: SQS -> Agent Bridge Lambda
  AgentBridgeEventSource:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      EventSourceArn: !GetAtt SummaryQueue.Arn
      FunctionName: !GetAtt AgentBridgeFunction.Arn
      BatchSize: 1
      Enabled: true

  # --- Step Functions State Machine ---
  IngestionStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub '${AppPrefix}-pin-ingestion-${Environment}'
      RoleArn: !GetAtt StepFunctionsExecutionRole.Arn
      DefinitionString: !Sub |-
        {
          "Comment": "Mark VIe pin ingestion with upload tracking",
          "StartAt": "RecordUploadReceived",
          "States": {
            "RecordUploadReceived": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:putItem",
              "Parameters": {
                "TableName": "${UploadTrackerTable}",
                "Item": {
                  "PK": {"S.$": "States.Format('UPLOAD#{}', $$.Execution.Name)"},
                  "SK": {"S": "META"},
                  "UploadId": {"S.$": "$$.Execution.Name"},
                  "UploadStatus": {"S": "RECEIVED"},
                  "UploadTimestamp": {"S.$": "$$.Execution.StartTime"},
                  "S3Bucket": {"S.$": "$.detail.bucket.name"},
                  "S3Key": {"S.$": "$.detail.object.key"},
                  "FileSize": {"N.$": "States.Format('{}', $.detail.object.size)"}
                }
              },
              "ResultPath": "$.trackerResult",
              "Next": "ProcessPinReport"
            },
            "ProcessPinReport": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${CsvProcessorFunction.Arn}",
                "Payload": {"bucket.$": "$.detail.bucket.name", "key.$": "$.detail.object.key", "uploadId.$": "$$.Execution.Name"}
              },
              "ResultSelector": {"statusCode.$": "$.Payload.statusCode", "body.$": "$.Payload.body"},
              "ResultPath": "$.processingResult",
              "Next": "ValidateProcessingResult",
              "Retry": [{"ErrorEquals": ["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"], "IntervalSeconds": 5, "MaxAttempts": 2, "BackoffRate": 2}],
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "NormalizeProcessingException"}]
            },
            "ValidateProcessingResult": {
              "Type": "Choice",
              "Choices": [{"Or": [{"Variable": "$.processingResult.body.rows_skipped", "NumericGreaterThan": 0}, {"Variable": "$.processingResult.body.items_written", "NumericLessThanPath": "$.processingResult.body.rows_parsed"}, {"Not": {"Variable": "$.processingResult.statusCode", "NumericEquals": 200}}], "Next": "BuildProcessingError"}],
              "Default": "RecordCompleted"
            },
            "BuildProcessingError": {
              "Type": "Pass",
              "Parameters": {"Error": "IngestionDataQualityError", "Cause.$": "States.Format('rows_parsed={}, items_written={}, rows_skipped={}, status_code={}', $.processingResult.body.rows_parsed, $.processingResult.body.items_written, $.processingResult.body.rows_skipped, $.processingResult.statusCode)", "SkippedRecordsKey.$": "$.processingResult.body.flagged_report_key"},
              "ResultPath": "$.error",
              "Next": "RecordFailed"
            },
            "NormalizeProcessingException": {
              "Type": "Pass",
              "Parameters": {"Error": "IngestionProcessingException", "Cause.$": "States.JsonToString($.error)", "SkippedRecordsKey": ""},
              "ResultPath": "$.error",
              "Next": "RecordFailed"
            },
            "RecordCompleted": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:updateItem",
              "Parameters": {
                "TableName": "${UploadTrackerTable}",
                "Key": {"PK": {"S.$": "States.Format('UPLOAD#{}', $$.Execution.Name)"}, "SK": {"S": "META"}},
                "UpdateExpression": "SET UploadStatus = :s, CompletedAt = :t, RowsParsed = :rp, ItemsWritten = :iw, ProjectContext = :pc, TaskContext = :tc, SourceS3Key = :ssk, ProcessedS3Key = :psk, SkippedRecordsKey = :srk",
                "ExpressionAttributeValues": {
                  ":s": {"S": "COMPLETED"}, ":t": {"S.$": "$$.State.EnteredTime"},
                  ":rp": {"N.$": "States.Format('{}', $.processingResult.body.rows_parsed)"},
                  ":iw": {"N.$": "States.Format('{}', $.processingResult.body.items_written)"},
                  ":pc": {"S.$": "$.processingResult.body.project_context"},
                  ":tc": {"S.$": "$.processingResult.body.task_context"},
                  ":ssk": {"S.$": "$.processingResult.body.file"},
                  ":psk": {"S.$": "$.processingResult.body.processed_key"},
                  ":srk": {"S.$": "$.processingResult.body.flagged_report_key"}
                }
              },
              "ResultPath": "$.updateResult",
              "Next": "IngestionComplete"
            },
            "RecordFailed": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:updateItem",
              "Parameters": {
                "TableName": "${UploadTrackerTable}",
                "Key": {"PK": {"S.$": "States.Format('UPLOAD#{}', $$.Execution.Name)"}, "SK": {"S": "META"}},
                "UpdateExpression": "SET UploadStatus = :s, FailedAt = :t, ErrorMessage = :e, SkippedRecordsKey = :srk",
                "ExpressionAttributeValues": {
                  ":s": {"S": "FAILED"}, ":t": {"S.$": "$$.State.EnteredTime"},
                  ":e": {"S.$": "States.JsonToString($.error)"},
                  ":srk": {"S.$": "$.error.SkippedRecordsKey"}
                }
              },
              "ResultPath": "$.updateResult",
              "Next": "IngestionFailed"
            },
            "IngestionComplete": {"Type": "Succeed"},
            "IngestionFailed": {"Type": "Fail", "Error": "IngestionError", "Cause": "Pin report processing failed."}
          }
        }
      Tags:
        - Key: Application
          Value: !Ref AppPrefix

  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AppPrefix}-sfn-role-${Environment}'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: ['lambda:InvokeFunction']
                Resource: !GetAtt CsvProcessorFunction.Arn
        - PolicyName: DynamoDBTracker
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: ['dynamodb:PutItem', 'dynamodb:UpdateItem']
                Resource: !GetAtt UploadTrackerTable.Arn

  # --- EventBridge Rule ---
  S3UploadRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub '${AppPrefix}-rule-${Environment}'
      State: ENABLED
      EventPattern:
        source: ['aws.s3']
        detail-type: ['Object Created']
        detail:
          bucket:
            name: [!Ref UploadBucket]
          object:
            key: [{prefix: 'files_to_be_processed/'}]
      Targets:
        - Id: StartIngestionWorkflow
          Arn: !GetAtt IngestionStateMachine.Arn
          RoleArn: !GetAtt EventBridgeExecutionRole.Arn

  EventBridgeExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AppPrefix}-eventbridge-role-${Environment}'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StartStepFunctions
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: ['states:StartExecution']
                Resource: !GetAtt IngestionStateMachine.Arn

Outputs:
  TableName:
    Value: !Ref BlockPinsTable
  BucketName:
    Value: !Ref UploadBucket
  LambdaFunctionName:
    Value: !Ref CsvProcessorFunction
  StreamProducerFunctionName:
    Value: !Ref StreamProducerFunction
  AgentBridgeFunctionName:
    Value: !Ref AgentBridgeFunction
  StateMachineArn:
    Value: !GetAtt IngestionStateMachine.Arn
  UploadTrackerTableName:
    Value: !Ref UploadTrackerTable
  TaskSummaryTableName:
    Value: !Ref TaskSummaryTable
  SummaryQueueUrl:
    Value: !Ref SummaryQueue
  SummaryDLQUrl:
    Value: !Ref SummaryDLQ
  UploadPath:
    Value: !Sub 's3://${UploadBucket}/files_to_be_processed/'
  ProcessedPath:
    Value: !Sub 's3://${UploadBucket}/files_already_processed/'
