dynamodb-block-schema/cloudformation/table.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: >
  GT Copilot Pin Ingestion Pipeline
  S3 (CSV upload) -> EventBridge -> Step Functions -> Lambda -> DynamoDB

Parameters:
  AppPrefix:
    Type: String
    Default: markvie-kb
    Description: Application naming prefix
  Environment:
    Type: String
    Default: poc
    AllowedValues: [poc, dev, staging]

Resources:

  # --- S3 Bucket (EventBridge notifications enabled) ---
  # Folder structure:
  #   knowledgebase/   - Pin report CSV uploads trigger ingestion workflow
  #   active-project/  - Active project files (no auto-processing)
  UploadBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub '${AppPrefix}-${AWS::AccountId}'
      NotificationConfiguration:
        EventBridgeConfiguration:
          EventBridgeEnabled: true
      Tags:
        - Key: Application
          Value: !Ref AppPrefix
        - Key: Environment
          Value: !Ref Environment

  # --- DynamoDB Table (Pin Data) ---
  BlockPinsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub '${AppPrefix}-${Environment}'
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: PK
          AttributeType: S
        - AttributeName: SK
          AttributeType: S
        - AttributeName: GSI3PK
          AttributeType: S
        - AttributeName: GSI3SK
          AttributeType: S
      KeySchema:
        - AttributeName: PK
          KeyType: HASH
        - AttributeName: SK
          KeyType: RANGE
      GlobalSecondaryIndexes:
        - IndexName: ConnectionIndex
          KeySchema:
            - AttributeName: GSI3PK
              KeyType: HASH
            - AttributeName: GSI3SK
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true
      Tags:
        - Key: Application
          Value: !Ref AppPrefix
        - Key: Environment
          Value: !Ref Environment

  # --- DynamoDB Table (Upload Tracker) ---
  UploadTrackerTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub '${AppPrefix}-upload-tracker-${Environment}'
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: PK
          AttributeType: S
        - AttributeName: SK
          AttributeType: S
        - AttributeName: UploadStatus
          AttributeType: S
        - AttributeName: UploadTimestamp
          AttributeType: S
      KeySchema:
        - AttributeName: PK
          KeyType: HASH
        - AttributeName: SK
          KeyType: RANGE
      GlobalSecondaryIndexes:
        - IndexName: StatusIndex
          KeySchema:
            - AttributeName: UploadStatus
              KeyType: HASH
            - AttributeName: UploadTimestamp
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
      TimeToLiveSpecification:
        AttributeName: TTL
        Enabled: true
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true
      Tags:
        - Key: Application
          Value: !Ref AppPrefix
        - Key: Environment
          Value: !Ref Environment

  # --- Lambda Function (CSV processor) ---
  CsvProcessorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${AppPrefix}-processor-${Environment}'
      Runtime: python3.12
      Handler: handler.handler
      Timeout: 300
      MemorySize: 512
      Environment:
        Variables:
          TABLE_NAME: !Ref BlockPinsTable
          TRACKER_TABLE_NAME: !Ref UploadTrackerTable
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        ZipFile: |
          # Placeholder - deploy actual code via deploy.sh
          def handler(event, context):
              return {'statusCode': 200}
      Tags:
        - Key: Application
          Value: !Ref AppPrefix
        - Key: Environment
          Value: !Ref Environment

  # --- IAM Role for Lambda ---
  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AppPrefix}-processor-role-${Environment}'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - 'arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole'
      Policies:
        - PolicyName: S3ReadAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:DeleteObject
                  - s3:PutObject
                Resource: !Sub 'arn:aws:s3:::${AppPrefix}-${AWS::AccountId}/*'
        - PolicyName: DynamoDBWriteAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:BatchWriteItem
                  - dynamodb:PutItem
                  - dynamodb:UpdateItem
                Resource:
                  - !GetAtt BlockPinsTable.Arn
                  - !Sub '${BlockPinsTable.Arn}/index/*'
                  - !GetAtt UploadTrackerTable.Arn
                  - !Sub '${UploadTrackerTable.Arn}/index/*'

  # --- Step Functions State Machine ---
  IngestionStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub '${AppPrefix}-pin-ingestion-${Environment}'
      RoleArn: !GetAtt StepFunctionsExecutionRole.Arn
      DefinitionString:
        !Sub
          - |
            {
              "Comment": "Pin report ingestion workflow with upload tracking",
              "StartAt": "RecordUploadReceived",
              "States": {
                "RecordUploadReceived": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::dynamodb:putItem",
                  "Parameters": {
                    "TableName": "${TrackerTable}",
                    "Item": {
                      "PK": {"S.$": "States.Format('UPLOAD#{}', ${ExecName})"},
                      "SK": {"S": "META"},
                      "UploadId": {"S.$": "${ExecName}"},
                      "UploadStatus": {"S": "RECEIVED"},
                      "UploadTimestamp": {"S.$": "${ExecStartTime}"},
                      "S3Bucket": {"S.$": "$.detail.bucket.name"},
                      "S3Key": {"S.$": "$.detail.object.key"},
                      "FileSize": {"N.$": "States.Format('{}', $.detail.object.size)"}
                    }
                  },
                  "ResultPath": "$.trackerResult",
                  "Next": "ProcessPinReport"
                },
                "ProcessPinReport": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${LambdaArn}",
                    "Payload": {
                      "bucket.$": "$.detail.bucket.name",
                      "key.$": "$.detail.object.key",
                      "uploadId.$": "${ExecName}"
                    }
                  },
                  "ResultSelector": {
                    "statusCode.$": "$.Payload.statusCode",
                    "body.$": "$.Payload.body"
                  },
                  "ResultPath": "$.processingResult",
                  "Next": "RecordCompleted",
                  "Retry": [
                    {
                      "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
                      "IntervalSeconds": 5,
                      "MaxAttempts": 2,
                      "BackoffRate": 2
                    }
                  ],
                  "Catch": [
                    {
                      "ErrorEquals": ["States.ALL"],
                      "Next": "RecordFailed",
                      "ResultPath": "$.error"
                    }
                  ]
                },
                "RecordCompleted": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::dynamodb:updateItem",
                  "Parameters": {
                    "TableName": "${TrackerTable}",
                    "Key": {
                      "PK": {"S.$": "States.Format('UPLOAD#{}', ${ExecName})"},
                      "SK": {"S": "META"}
                    },
                    "UpdateExpression": "SET UploadStatus = :s, CompletedAt = :t, RowsParsed = :rp, ItemsWritten = :iw, ProjectContext = :pc, TaskContext = :tc",
                    "ExpressionAttributeValues": {
                      ":s": {"S": "COMPLETED"},
                      ":t": {"S.$": "${StateEnteredTime}"},
                      ":rp": {"N.$": "States.Format('{}', $.processingResult.body.rows_parsed)"},
                      ":iw": {"N.$": "States.Format('{}', $.processingResult.body.items_written)"},
                      ":pc": {"S.$": "$.processingResult.body.project_context"},
                      ":tc": {"S.$": "$.processingResult.body.task_context"}
                    }
                  },
                  "ResultPath": "$.updateResult",
                  "Next": "IngestionComplete"
                },
                "RecordFailed": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::dynamodb:updateItem",
                  "Parameters": {
                    "TableName": "${TrackerTable}",
                    "Key": {
                      "PK": {"S.$": "States.Format('UPLOAD#{}', ${ExecName})"},
                      "SK": {"S": "META"}
                    },
                    "UpdateExpression": "SET UploadStatus = :s, FailedAt = :t, ErrorMessage = :e",
                    "ExpressionAttributeValues": {
                      ":s": {"S": "FAILED"},
                      ":t": {"S.$": "${StateEnteredTime}"},
                      ":e": {"S.$": "States.JsonToString($.error)"}
                    }
                  },
                  "ResultPath": "$.updateResult",
                  "Next": "IngestionFailed"
                },
                "IngestionComplete": {
                  "Type": "Succeed"
                },
                "IngestionFailed": {
                  "Type": "Fail",
                  "Error": "IngestionError",
                  "Cause": "Pin report processing failed - see upload tracker for details"
                }
              }
            }
          - TrackerTable: !Ref UploadTrackerTable
            LambdaArn: !GetAtt CsvProcessorFunction.Arn
            ExecName: "$$.Execution.Name"
            ExecStartTime: "$$.Execution.StartTime"
            StateEnteredTime: "$$.State.EnteredTime"
      Tags:
        - Key: Application
          Value: !Ref AppPrefix
        - Key: Environment
          Value: !Ref Environment

  # --- IAM Role for Step Functions ---
  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AppPrefix}-sfn-role-${Environment}'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt CsvProcessorFunction.Arn
        - PolicyName: DynamoDBTracker
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:PutItem
                  - dynamodb:UpdateItem
                Resource: !GetAtt UploadTrackerTable.Arn

  # --- EventBridge Rule (S3 -> Step Functions) ---
  S3UploadRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub '${AppPrefix}-rule-${Environment}'
      Description: Trigger pin ingestion workflow when CSV uploaded to S3
      State: ENABLED
      EventPattern:
        source:
          - aws.s3
        detail-type:
          - Object Created
        detail:
          bucket:
            name:
              - !Ref UploadBucket
          object:
            key:
              - prefix: knowledgebase/
      Targets:
        - Id: StartIngestionWorkflow
          Arn: !GetAtt IngestionStateMachine.Arn
          RoleArn: !GetAtt EventBridgeExecutionRole.Arn

  # --- IAM Role for EventBridge ---
  EventBridgeExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AppPrefix}-eventbridge-role-${Environment}'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StartStepFunctions
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource: !GetAtt IngestionStateMachine.Arn

Outputs:
  TableName:
    Value: !Ref BlockPinsTable
    Description: DynamoDB table name
  TableArn:
    Value: !GetAtt BlockPinsTable.Arn
  BucketName:
    Value: !Ref UploadBucket
    Description: S3 bucket for CSV uploads
  LambdaFunctionName:
    Value: !Ref CsvProcessorFunction
    Description: Lambda function name
  StateMachineArn:
    Value: !GetAtt IngestionStateMachine.Arn
    Description: Step Functions state machine ARN
  StateMachineName:
    Value: !GetAtt IngestionStateMachine.Name
    Description: Step Functions state machine name
  UploadTrackerTableName:
    Value: !Ref UploadTrackerTable
    Description: DynamoDB table tracking upload status and outcomes
  UploadPath:
    Value: !Sub 's3://${UploadBucket}/knowledgebase/'
    Description: Upload pin report CSVs here to trigger ingestion workflow
  ActiveProjectPath:
    Value: !Sub 's3://${UploadBucket}/active-project/'
    Description: Active project files (no auto-processing)
